    .background {
    position: relative;
    background: #000000;
    margin: 0;
    }
    
    .wrapper{
      position: relative;
      margin: 0 auto;
      vertical-align: middle;
      display: flex;
      max-width: 1600px;
      min-width: 900px;
      flex-direction: column;
      flex-shrink: 0;
      flex-grow: 0;
      align-items: center;
      padding: 0;
  
    }
    
    .container-logo {
      margin: 20px 0;
      width: 100%;
      height: 110px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
    }
    
    .logo-pic {
      margin: 0 10px;
      min-width: 100px;
      height: 100px;
      transition: 0.6s;
    }

    .logo-pic:hover{
        transform: scale(1.2);
    }
    
    .dot {
      min-width: 20px;
      height: 20px;
      background: #FFFFFF;
      border-radius: 30px;
      margin: 10px;
    }
    
    .logo-line {
      width: 40%;
      height: 5px;
      background: #FFFFFF;
    }

    .menu-container {
        position: relative;
        margin: 20px 0 0 -40px;
        width: 70%;
        height: 120px;
        display: flex;
        flex-wrap: nowrap;
        transition: 0.6s;
        justify-content: space-around;
    }
      
    .navbar {
      width: 100%;
      margin:0 auto;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      flex-wrap: nowrap;
      align-items: center;
    }
    
    .option {
        display: flex;
        justify-content: center;
        align-items: center;  
        font-weight: bold;
        font-size: 30px;
        margin: 0 10px;
        background: #FFFFFF;
        border-radius: 20px;
        width: 150px;
        height: 80px;
        transition: 0.6s;
        text-decoration: none;
        color: #000000;
    }
    
    .option:hover{
      transform: scale(1.2);
      cursor: pointer;
    }
        
    .vert-line {
        height: 80px;
        background: #FFFFFF;
        min-width: 3px;
    }

    .games-list{
        margin: 20px 0 500px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 90%;
        height: 90%;
       
    }

    .game{
        position: relative;
        margin: 50px auto;
        position: relative;
        width: 250px;
        height: 250px;
        font-size: 15px;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            outline: 4px solid #FFFFFF;
        }
    }

    .description{
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        text-align: center;
        align-items: center;
        top: 0%;
        left: 0%;
        width: 250px;
        height: 250px;
        background: #FFFFFF;
        transition: 0.6s;
        font-weight: bold;
    }

    

    .game:nth-child(1):hover{
        div{
            transform: translateX(253px);
        }

        a{
            transform: translateX(-64px);
        }
    }
    .game:nth-child(2):hover {
        >img{
            opacity: 0;
        }

        a{
            transform: translateY(-60px);  
        }
    }

    .game:nth-child(3):hover {
        div{
            transform: translateX(-253px);
        }
        a{
            transform: translateX(64px);
        }     
    }

    .triplet{
        width: 100%;
        display: flex;
        justify-content:space-around;
        flex-direction: row;
    }

    .steam-link{
       position: absolute;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 60px;
       height: 60px;
       background: #FFFFFF;
       outline: none;
       top: 0%;
       left: 0%;
       transition: 0.6s;
       img{
           height: 50px;
           width: 50px;
           transition: 0.6s;
           outline: none;
       }
    }

    .steam-link:hover img{
        transform: scale(1.1);
    }

    .game:nth-child(1),.game:nth-child(3){
        z-index: 1;
        div{
            z-index: -1;
        }
        a{
            z-index: -1;
        }
    }
    .game:nth-child(2){
        z-index: 0;
        img{
            transition: 0.6s;
        }
        div{
            z-index: -1;
        }
        a{
            left: 37%;
            z-index: -1;
        }
    }

    .game:nth-child(3){
        a{
            left: 76%;
        }
    }

    .waves-container{
        width: 100%;
      }
    
      .waves {
        width: 100%;
        height: 15vh;
        margin-bottom: -7px;
        min-height: 100px;
        max-height: 150px;
      }
      
      .content {
        position: relative;
        background-color: rgb(255, 255, 255);
        display: flex;
        width: 100%;
        height:250px; 
        justify-content: center;    
        align-items: center;
        text-align: center;
        transition: 0.6s;
      }
    
      .logo-footer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 240px;
        transition: 0.6s;
          img{
            width: 100px;
            height: 100px;
          }
      }
    
      .logo-up{
        width: 100px;
        height: 100px;
        transition: 0.6s;
        img{
          width: 100%;
          height: 100%;
        }
      }
    
      .logo-up:hover{
        transform: scale(1.2);
      }
    
      .soc-media{
        display: flex;
        justify-content: right;
      }
      .soc-net img{
        width: 50px;
        height: 50px;
        margin: 0 5px;
        transition: 0.6s;
      }
    
      .soc-net:hover img{
        transform: scale(1.2);
      }
    
      .footer-description{
        transition: 0.6s;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
      }
    
      .company-info{ 
        transition: 0.6s;
          display: flex;
          align-items: flex-end;
          width: 40%;
          height: 100%;
          p{
            height:30%
          }
        }
    
      .contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
          width: 30%;
          height: 100%;
          transition: 0.6s;
        }
    
      .footer-info{
          display: flex;
          flex-direction: column;
          width:  80%;
          height: 200px;
          font-weight: bold;
          transition: 0.6s;
        }
    
        .footer{
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
       }
      
       .full-footer{
        position: absolute;
         width: 100%;
         height: 500px;
         bottom: 0%;
         left: 0%;
       }
       
      .parallax > use {     
                animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
      }
      
      .parallax > use:nth-child(1) {
                animation-delay: -2s;
                animation-duration: 10s;
      }
      
      .parallax > use:nth-child(2) {
                animation-delay: -3s;
                animation-duration: 15s;
      }
      
      .parallax > use:nth-child(3) {
                animation-delay: -4s;
                animation-duration: 20s;
      }
      
      .parallax > use:nth-child(4) {
                animation-delay: -5s;
                animation-duration: 25s;
      }
      
      @keyframes move-forever {
        0% {
          transform: translate3d(-90px, 0, 0);
        }
        100% {
          transform: translate3d(90px, 0, 0);
        }
      }